{% extends "./index.html.twig" %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="nav-logo navbar-brand" href="#">
                <img src="/assets/img/logo2.png" alt="logo.eco" width="60" height="60" />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="div-navbar collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="text-end navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/accueil">Retour a l'accueil</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right text-end">
                  <li><a class="btn-connexion" href="/deconnexion"><span class="bi bi-person-fill"></span> Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
<img class="paper-attention-b" src="/assets/img/papier.png">
    <p class= "alerte-info"><strong>*Attention : Au moins un des champs "Besoins, Productions ou Déchets" est obligatoire*</strong></p>
<img class="p-gauche" src="/assets/img/p-gauche.png">
<img class="p-droite-b" src="/assets/img/p-droite.png">

<main class="main-besoins container">
        <aside>
        <p class="p-2">Informations</p>
            <div>
                <a href="/monprofil/{{user.id}}">Coordonnées</a>
            </div>
            <div>
                <a href="/besoins/{{user.id}}">Besoins</a>
            </div>
            <div>
                <a class="active" href="/productions/{{user.id}}">Productions</a>
            </div>
            <div>
                <a href="/dechets/{{user.id}}">Déchets</a>
            </div>
        </aside>
	
		<article class="article-besoins">
             <form class="form-besoins" id="besoins" action="/besoins" method="post">
                <fieldset>
                
                    <label for="text"><b class="b-monprofil"> Vos besoins </b></label>
                    <textarea class="textarea-besoins" name="besoins" id="text" cols="30" rows="10" placeholder="..........">{{user.besoins}}</textarea>
                <div class="div-2-btn">
                    <button class="btn-besoins" formaction="/besoins/{{user.id}}/{{step}}"><b>Valider</b></button>
                    <button class="btn-besoins-suivant" formaction="/besoins/{{user.id}}/{{nextStep}}"><b>Valider => Suivant</b></button>
                </div>
                
                </fieldset>
                    <div class = "error">
                        {% for error in errors %}
                            <span class="erreur">{{error}}</span>
                        {% endfor %}
                    </div> 
            </form>
        </article>
</main>
{% endblock %}
{% block footer %}
{% endblock %}