{% extends "./index.html.twig" %}
{% block header %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<div class="container">
			<a class="nav-logo navbar-brand" href="#">
				<img src="/assets/img/logo2.png" alt="logo.eco" width="60" height="60"/>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="div-navbar collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="text-end navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/entreprises/{{user.id}}">Retour</a>
                    </li>
                </ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block main %}
    <section class="section-card-complete">

    <article class="article-card-complete">

    	<div class="div-f-complete">
            <img class="logo-vide" src="/assets/img/logo-vide.png" alt="logo">
            <p class="p-card-complete">Raison sociale: <span class="span-card"> {{card.ciename}}</span></p>
            <p class="p-card-complete">Nom: <span class="span-card">{{card.name}}</span></p>
            <p class="p-card-complete">Prénom: <span class="span-card">{{card.firstname}}</span></p>
            <p class="p-card-complete">Fonction: <span class="span-card">{{card.fonctionname}}</span></p>
            <p class="p-card-complete">Adresse: <span class="span-card">{{card.ndevoie}} {{card.tdevoie}} {{card.voiename}} {{card.complementad}} {{card.codepostal}} {{card.ville}} {{card.pays}}</span></p>
            <p class="p-card-complete">N° tel: <span class="span-card">{{card.ndetel}}</span></p>
            <p class="p-card-complete">Ligne direct: <span class="span-card">{{card.ldirect}}</span></p>
            <p class="p-card-complete">E-mail: <span class="span-card">{{card.email}}</span></p>
            <p class="p-card-complete">N° de siret: <span class="span-card">{{card.ndesiret}}</span></p>
            <p class="p-card-complete">Besoins: <span class="span-card">{{card.besoins}}</span></p>
            <p class="p-card-complete">Productions: <span class="span-card">{{card.productions}}</span></p>
            <p class="p-card-complete">Déchets: <span class="span-card">{{card.dechets}}</span></p>      	
        </div>
        
       <div class="div-map" id="mapContainer" data-latitude={{card.latitude}} data-longitude={{card.longitude}}>
                
            </div> 
    </article> 
</section>
 
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
         crossorigin="">
</script>
<script src="http://localhost:8013/assets/appliCarte.js"></script>
{% endblock %}

{% block footer %}{% endblock %}